body {
    text-align: left;
    background-color: pink;
}

h1 {
    display: inline-block;
    color: floralwhite
}

.text-box {
    width: 500px;
}

.pantryitems {
    margin: 0 auto;
    width: 500px;
    background-color: fuchsia;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px;
    padding: 5px;
    margin: 10px;
    width: 500px;
}

.canned {
    margin: 0 auto;
    width: 500px;
    background-color: hotpink;
    display: inline-block;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px;
    padding: 3px;
    margin: 10px;
    width: 130px;
    height: 150px;
}

.drygoods {
    margin: 0 auto;
    width: 500px;
    background-color: lavender;
    display: inline-block;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px;
    padding: 3px;
    margin: 10px;
    width: 120px;
    height: 150px;
}

.freezeritems {
    margin: 0 auto;
    width: 500px;
    background-color: dodgerblue;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px;
    padding: 5px;
    margin: 10px;
    width: 500px;
}

.veggies {
    margin: 0 auto;
    width: 500px;
    background-color: deepskyblue;
    display:inline-block;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px;
    padding: 3px;
    margin: 10px;
    width: 120px;
}

.snacks {
    margin: 0 auto;
    width: 500px;
    background-color: mediumturquoise;
    display:inline-block;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px;
    padding: 3px;
    margin: 10px;
    width: 160px;
}

.image1 {
    display: inline-block;
}

.image2 {
    display: inline-block;
}